#container{
    width: 50%;
    margin: auto;
}
body{
    background-color:white;
}
h1{
    color: gray;
    font-family: 'Poppins', sans-serif;
}


button{
    background-color:#fcecdd;
}



#notesList{
  display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start; 
   align-items:stretch;
   margin-top:30px;
  
}
.noteElement{

    background-color: white;
    /* border: black; */
    border-radius: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    padding: 15px;
    /* box-shadow: 5px 10px 8px #888888; */
   
}
.noteElement:hover{
    border: 1px solid #2D9CDB;
}

#textInput{
    border-style: none;
    font-size: 1.5rem;
    border-radius: 20px;
}
button{
    border-radius: 10px;
    padding:10px 20px;
    box-shadow: none;
    border: none;
    background-color:#2D9CDB;
    font-family: 'Poppins', sans-serif;
    color: white;
}
button:hover{
    border: #2D9CDB 1px solid;
    padding:11px 21px;
}

.note{
   
    /* background-color: wheat; */
    margin-bottom: 15px;
    padding: 20px;
    width: 70%;
    border-radius: 20px;
    
}

p{
    color:gray;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}


@media only screen and (max-width: 992px) {
    #container{
        width: 100%;
    }
}



/* Created by Nikola Stanin 24.04.2021.  */