*{
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#container{
    width: 50%;
    margin: auto;
}
body{
    background-color:#252525;
}
h1{
    color: white;

    margin: 50px auto;
    
}


button{
    background-color:#fcecdd;
   
}



#notesList{
  display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start; 
   align-items:stretch;
   margin-top:30px;
  
}
.noteElement{

    background-color: #f4ce8d;
    /* border: black; */
    border-radius: 20px;
    
    
    padding: 15px;
    /* box-shadow: 5px 10px 8px #888888; */
   width : 80%;
   margin: auto;
   margin-bottom: 10px;
}
/* .noteElement:hover{
    border: 1px solid #2D9CDB;
} */

#input-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; 
    
}

#textInput{
    
    font-size: 1.5rem;
    border-radius: 20px;
    border: #2D9CDB solid 1px;
    padding : 10px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

button{
    border-radius: 10px;
    padding:10px 20px;
  
    border: none;
    background-color:#ffab91;
    font-family: 'Poppins', sans-serif;
    color: #392912;
}
button:hover{
    border: #252525 1px solid;
    
}
#add{
    /* padding: 20px 40px; */
    width: 20%;
    margin: auto;
    background-color: #f4ce8d;
}
.note{
   
    /* background-color: wheat; */
    margin-bottom: 15px;
    padding: 5px;
    color:#392912;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    width: auto;
    overflow-wrap: break-word;
}



@media only screen and (max-width: 992px) {
    #container{
        width: 100%;
    }
}



/* Created by Nikola Stanin 24.04.2021.  */